django==1.5.4
python-memcached
pyyaml
simplejson #Django打算弃用simplejson改用json，目前采用json的话，django_chartit会不好用
ua-parser
user-agents
django-user-agents
django-datetime-widget
django-tables2
django_select2
django-dajaxice
django-cronjobs
django_chartit
django-dajax
pillow
redis
requests
mysql-python
