--index-url http://pypi.douban.com/simple

python-memcached
pyyaml
ua-parser
user-agents
django==1.5.4
django-user-agents
django-datetime-widget
django-tables2
django_select2
django-dajaxice
django-cronjobs
django-chartit
django-dajax
pillow
redis
requests
uwsgi
mysql-python
simplejson
