{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="navbar {% if theme == 'default' %}navbar-inverse{% endif %}">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="dropdown">
                    <a id="case-category" role="button" class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                        {% if caseclass %}
                        {{ caseclass.name }}
                        {% else %}
                        全部成功案例
                        {% endif %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="case-category">
                        <li><a href="/microsite/case/{{ app.pk }}/">全部成功案例</a></li>
                        {% for c in caseclasses %}
                        <li><a href="/microsite/case/{{ app.pk }}/{{ c.pk }}">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="cases">
        <table>
            <thead><th style="width:50%;"></th><th style="width:50%;"></th></thead>
            {% for row in rows %}
            <tr>
                {% for item in row %}
                <td>
                    <a href="/microsite/caseitem/{{ item.0.pk }}">
                        <div class="case" style="background-image: url('{{ item.1 }}')">
                            <div class="title">{{ item.0.title }}</div>
                        </div>
                    </a>
                </td>
                {% endfor %}
            </tr>
            {% empty %}
                <div class="empty">
                    <p>暂无成功案例</p>
                </div>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}

