<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>{{ title }}</title>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BFd6600742ae05307e9b9b50a00d1fd2"></script>
    <script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
</head>
<style type="text/css">
html{height:100%}
body{height:100%;margin:0px;padding:0px}
#baidumap{height:100%}
/*baidu map conflict with bootstrap, this is a workaround*/
#baidumap img {
    max-width:none;
}
</style>
<body>
<div id="baidumap"></div>
<div>
<p>{{ item.name }}</p>
<p>地址:{{ item.address }}</p>
{% if people %}
<p>联系电话：{{ people.phone }}({{ people.name }})</p>
<a href="tel:{{ people.phone }}" class="phone"><div></div></a>
{% endif %}
</div>
</body>
<script>
var map = new BMap.Map("baidumap");
map.addControl(new BMap.NavigationControl());
var point = new BMap.Point({{ item.lng }}, {{ item.lat }});
var startpoint = new BMap.Point({{ cur_lng }}, {{ cur_lat }});
map.centerAndZoom(point, 15);

var route = new BMap.DrivingRoute(map, {renderOptions:{map: map}});
route.setSearchCompleteCallback(function () {
    console.log("search complete");
});

route.search(startpoint, point);
//BMap.Convertor.translate(startpoint, 0, function(spoint) {
//});
</script>

