{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block js %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BFd6600742ae05307e9b9b50a00d1fd2"></script>
<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
{% endblock %}

{% block css %}
<style type="text/css">
html {
    height:100%;
}
body {
    height:100%;
    margin:0px;
    padding:0px;
}
#address {
    position:fixed; 
    bottom:0px; 
    width:100%; 
    padding: 0 8px 4px 8px; 
}
#address p {
    margin: 0px;
}
#address .phone {
    position: fixed;
    bottom: 3px;
    right: 40px;
}
#map {
    height:100%;
}
/*baidu map conflict with bootstrap, this is a workaround*/
#map img {
    max-width:none;
}
</style>
{% endblock %}

{% block content %}
<div id="map"></div>
<div id="address">
<h4>{{ item.name }}</h4>
<p>地址:{{ item.address }}</p>
{% if people %}
<p>联系电话：{{ people.phone }}({{ people.name }})</p>
<a href="tel:{{ people.phone }}" class="phone"><div></div></a>
{% endif %}
</div>
<script>
var map = new BMap.Map("map");
map.addControl(new BMap.NavigationControl());
var point = new BMap.Point({{ item.lng }}, {{ item.lat }});
var startpoint = new BMap.Point({{ cur_lng }}, {{ cur_lat }});
map.centerAndZoom(point, 15);

var route = new BMap.DrivingRoute(map, {renderOptions:{map: map}});
route.setSearchCompleteCallback(function () {
    console.log("search complete");
});

route.search(startpoint, point);
//BMap.Convertor.translate(startpoint, 0, function(spoint) {
//});
</script>
{% endblock %}