{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block js %}
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BFd6600742ae05307e9b9b50a00d1fd2"></script>
<script type="text/javascript">
    var route = function(type) {
        var geoLocation = new BMap.Geolocation();
        geoLocation.getCurrentPosition(function(result) {
            if (result) {
                var point = new BMap.Point({{ item.lng }}, {{ item.lat }});
                map.centerAndZoom(point, 15);

                if (type == 'transit') {
                    var route = new BMap.TransitRoute(map, {renderOptions:{map: map}});
                } else if (type == 'driving') {
                    var route = new BMap.DrivingRoute(map, {renderOptions:{map: map}});
                } else {
                    var route = new BMap.WalkingRoute(map, {renderOptions:{map: map}});
                }
                
                route.setSearchCompleteCallback(function () {
                    console.log("search complete");
                });

                route.search(result.point, point);
            }
        });
    };

    var routes = ['walking', 'transit', 'driving'];
    var currentRouteIndex = 0;

    $(document).ready(function() {
        $('#left').click(function(){
            currentRouteIndex = (currentRouteIndex - 1) % 3;
            route(routes[currentRouteIndex]);
        });
        $('#right').click(function(){
            currentRouteIndex = (currentRouteIndex + 1) % 3;
            route(routes[currentRouteIndex]);
        });
    });
</script>
{% endblock %}

{% block css %}
<style type="text/css">
html {
    height:100%;
}
body {
    height:100%;
    margin:0px;
    padding:0px;
}
#address {
    position:fixed; 
    bottom:0px; 
    width:100%; 
    padding: 0 28px 4px 28px; 
}
#address p {
    margin: 0px;
}
#address .phone {
    position: fixed;
    bottom: 3px;
    right: 40px;
}
#left, #right {
    width: 20px;
    height: 100%;
    position: fixed;
    text-align: center;
    cursor: pointer;
}
#left {
    left:0;
    border-right: 1px solid #c2c2c2;
}
#right {
    right: 0;
    border-left: 1px solid #c2c2c2;
}
#left i, #right i {
    position: relative;
    top:5%;
}
#map {
    height:100%;
}
/*baidu map conflict with bootstrap, this is a workaround*/
#map img {
    max-width:none;
}
</style>
{% endblock %}

{% block content %}
<div id="map"></div>
<div id="address">
<div id="left"><i class="icon-chevron-left"></i></div>
<div id="right"><i class="icon-chevron-right"></i></div>
<div>
<h4>{{ item.name }}</h4>
<p>地址:{{ item.address }}</p>
{% if people %}
<p>联系电话：{{ people.phone }}({{ people.name }})</p>
<a href="tel:{{ people.phone }}" class="phone"><div></div></a>
{% endif %}
</div>
</div>
<script>
var map = new BMap.Map("map");
map.addControl(new BMap.NavigationControl());
route(routes[currentRouteIndex]);
</script>
{% endblock %}
