<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.5, maximum-scale=1.0, user-scalable=false" />
    <title>{{ name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/microsite.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/default/theme.css"/>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#focus-indicators').css('margin-left', '-' + $('#focus-indicators li').size() * 15 / 2 + 'px');
        });
    </script>
</head>
<body>
    <div class="container">
        <div id="focus" class="carousel slide" style="width:100%;">
            <ol id="focus-indicators" class="carousel-indicators">
            {% for pic in pics %}
                {% if forloop.counter0 == 0 %}
                <li data-target="#focus" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                {% else %}
                <li data-target="#focus" data-slide-to="{{ forloop.counter0 }}"></li>
                {% endif %}
            {% endfor %}
            </ol>
            <div class="carousel-inner">
            {% for pic in pics %}
                {% if forloop.counter0 == 0 %}
                <div class="active item"><img src="{{ MEDIA_URL }}{{ pic.0 }}" />
                    {% if pic.1 %}
                    <div class="carousel-caption"><h3>{{ pic.1 }}</h3></div>
                    {% endif %}
                </div>
                {% else %}
                <div class="item"><img src="{{ MEDIA_URL }}{{ pic.0 }}" />
                    {% if pic.1 %}
                    <div class="carousel-caption"><h3>{{ pic.1 }}</h3></div>
                    {% endif %}
                </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>

        <div class="items">
            {% for item in items %}
                <div class="item">
                    <a href="{{ item.0 }}">
                        {% if item.3 > 0 %} 
                            <div class="notifications">{{ item.3 }}</div>
                        {% endif %}
                        <img src="{{ item.1 }}" />
                    </a>
                    <p>{{ item.2 }}</p>
                </div>
            {% empty %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
