{% extends "microsite/page.html" %}
{% block title %}{{ name }}{% endblock %}

{% block content %}
<div class="container">
    <div id="focus" class="carousel slide" style="width:100%;">
        <ol id="focus-indicators" class="carousel-indicators">
        {% for pic in pics %}
            {% if forloop.counter0 == 0 %}
            <li data-target="#focus" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
            {% else %}
            <li data-target="#focus" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endif %}
        {% endfor %}
        </ol>
        <div class="carousel-inner">
        {% for pic in pics %}
            {% if forloop.counter0 == 0 %}
            <div class="active item"><img src="{{ pic.0.url }}" />
                {% if pic.1 %}
                <div class="carousel-caption"><p>{{ pic.1 }}</p></div>
                {% endif %}
            </div>
            {% else %}
            <div class="item"><img src="{{ pic.0.url }}" />
                {% if pic.1 %}
                <div class="carousel-caption"><p>{{ pic.1 }}</p></div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
        </div>
        {% if pics|length > 1 %}
        <a class="carousel-control left" href="#focus" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#focus" data-slide="next">&rsaquo;</a>
        {% endif %}
    </div>

    <div class="items">
        {% for row in rows %}
        <div class="row">
            {% for item in row %}
            <div class="item span4">
                <a href="{{ item.0 }}">
                    <img src="{{ item.1 }}" />
                </a>
                <p>{{ item.2 }}</p>
            </div>
            {% endfor %}
        </div>
        {% empty %}
        {% endfor %}
    </div>
</div>
{% endblock %}
