{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block js %}
<script type="text/javascript">
    var picsWidth = 0;
    var picsLoaded = 0;
    $(document).ready(function() {
        picsWidth = 0;
        $('#pics img').load(function() {
            picsWidth += this.width;
            picsLoaded += 1;

            if (picsLoaded == $('#pics img').size()) {
                console.log(picsWidth);
                $('#pics').width(picsWidth + (picsLoaded-1)*4);
            }
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container content-page">
    <div style="height:290px;width:100%;overflow:scroll;">
        <div id="pics" style="width:1000px;">
            {% for pic in pics %}
            <a href="microsite/pic?title={{ title }}&p={{ MEDIA_URL }}{{ pic }}"><img style="height:290px;" src="{{ MEDIA_URL }}{{ pic }}" /></a>
            {% endfor %}
        </div>
    </div>
    <div style="margin-top:8px;">
    {{ intro|safe }}
    </div>
</div>
{% endblock %}
