<script type="text/javascript">
    $(document).ready(function() {
        var url =  document.referrer;
        var pre=url.toLowerCase().indexOf("kuzhanggui.com");
        if (pre<0){
            $(".backhome > a").attr('href', '/microsite/homepage/259');
        }

    });
    $(function(){
        $('.click').click(function(){
            $('.bg').css({'display':'block'});
            $('.share-arrow').css({'display':'block'});
        });
        $('.bg').click(function(){
            $('.bg').css({'display':'none'});
            $('.share-arrow').css({'display':'none'});
        });
    });
</script>
<div class="share">
    <span class="to-friend"><img src="{{ STATIC_URL }}themes/{{ theme | default:'default' }}/share_to_friend.png" /><a class="click">发送给朋友</a></span>
    <span sytle="margin:0 20px;">|</span>
    <span class="to-quan"><img src="{{ STATIC_URL }}themes/{{ theme | default:'default' }}/share_to_quan.png" /><a class="click">分享到朋友圈</a></span>
    <div class="backhome">
    <a href="/microsite/homepage/{{ homepage_id }}">返回微官网首页</a>
    </div>
</div>
<div class="bg"></div>
<div class="share-arrow "><img src="{{ STATIC_URL }}img/share_arrow.png"><p>点击按钮分享</p></div>
