{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container content-page">
    <div class="content-team"> 
        <div class="team-card">
            <div class="team-img">
                 <img src="{{ item.3 }}" class="img-circle" />
            </div>
            <div class="team-meta">
                <div class="name">
                    <h4>{{ item.0 }}<span id="title">{{ item.2 }}</span></h4>
                </div>
                <div class="digest">
                    {{ item.4 }}
                </div>
            </div>
        </div>
    </div>
    <div style="padding-left:8px; padding-right:8px">
        {{ content | safe }}
    </div>
</div>
{% endblock %}
