{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="teams">
        {% for item in items %}
            <a href="{{ item.1 }}">
                <div class="team-card">
                    <div class="team-img">
                        <img src="{{ item.3 }}" class="img-circle" />
                    </div>
                    <div class="team-meta">
                        <div class="name">
                           <h4>{{ item.0 }}<span id="title">{{ item.2 }}</span></h4>
                        </div>
                        <div class="digest">
                            {{ item.4 }}
                        </div>
                    </div>
                </div>
            </a>
        {% empty %}
            <div class="empty">
                <p>暂无团队成员</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

