{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class='container'>
    <div class="locs">
        {% for item in infos %}
        <div class="loc card">
            <h4>{{ item.0.name }}</h4>
            {% for people in item.1 %}
                <a href="tel:{{ people.phone }}" class="phone"><div></div></a>
                <p>联系电话
                {% if item.1|length > 1 %}
                {{ forloop.counter }}
                {% endif %}
                ：{{ people.phone }}({{ people.name }})</p>
            {% endfor %}

            <p>地址：{{ item.0.address }}</p>
        </div>
        {% empty %}
        <div class="empty">
            <p>暂无联系方式</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
