{% extends "microsite/page.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="trends">
        {% for item in items %}
            <a href="{{ item.1 }}">
                <div class="trend card">
                    <img src="{{ item.4 }}" />
                    {% if item.3 %}
                        <div class="new"></div>
                    {% endif %}
                    <div class="trend-meta">
                        <h4>{{ item.0 }}</h4>
                        <p>{{ item.2 | date:"Y-m-d" }}</p>
                    </div>
                    <div class="trend-abs">
                        <span>{{ item.5 }}</span>
                    </div>
                </div>
            </a>
        {% empty %}
            <div class="empty">
                <p>暂无新闻</p>
            </div>
        {% endfor %}
    </div>
</div>
    {% include "microsite/share_section.html" %}
{% endblock %}
