body {
    background-color: #1e1e1e;
    color: #e8e8e8;
}

.items {
    text-align: center;
    margin-bottom: 8px;
}

.items .item {
    width: 95px;
    height: 118px;
    display: inline-block;
    text-align: center;
}

@media (min-width: 340px) { 
    .items .item {
        margin: 8px;
    }
}

@media (max-width: 340px) {
    .items .item {
        margin: 4px;
    }
}

.items .item p {
    font-size: 14px;
    color: #f8f8f8;
    margin-top: -18px;
}

.items .item img {
    width: 95px;
}

.content-page {
    padding: 8px;
}

.trends {
    padding: 8px;
}

.trends a, .trends a:hover, .trends a:visited, .trends a:active {
    color: #e8e8e8;
    text-decoration: none;
}

.card {
    border-radius: 5px;
    padding: 8px;
    background-color: #2e2e2e;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    margin-bottom: 12px;
}

.trends img {
    float: left;
    width: 52px;
    height: 52px;
}

.trends .trend .trend-meta {
    margin-left: 60px;
    height: 52px;
}

.trends .trend .trend-meta h4 {
    margin-top: 0px;
}

.trends .trend .trend-meta p {
    color: #828282;
    font-size: 11px;
}

.trends .trend .trend-abs {
    margin-top: 6px;
    font-size: 12px;
    line-height: 18px;
}

.trends .trend .new {
    background: url('new.png');
    width: 30px;
    height: 30px;
    float: right;
    margin-top: -8px;
    margin-right: -8px;
}

#baidumap {
    height: 245px;
    margin: 8px;
}

.locs {
    padding: 8px;
}

.locs .loc h4 {
    margin-top: 4px;
    margin-bottom: 12px;
}

.locs .loc p {
    font-size: 12px;
    line-height: 18px;
}

a.phone div {
    background: url('phone_normal.png');
    width: 49px;
    height: 20px;
    background-size: 49px 20px;
}

a.phone:active div {
    background: url('phone_pressed.png');
}

.locs .loc {
    cursor: pointer;
}

.locs .loc .phone {
    float: right;
    margin-right: 18px;
}

.cases {
    padding: 8px;
    width: 100%;
    margin-top: 8px;
}

.cases .case {
    width: 150px;
    height: 150px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 50%;
}

.cases a, .cases a:hover .cases a:active {
    color: #e8e8e8;
    text-decoration: none;
}

.cases .case .title {
    margin-top: 122px;
    background-color: rgba(0,0,0,0.5);
    padding: 4px;
}

.cases td:nth-child(odd) {
    padding-left: 16px;
}

.cases td:nth-child(even){
    padding-right: 16px;
}