body {
	background: #ddd;
	font-size: 18px;
}

p.medium {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 13px;
}

h3 {
	font-size: 18px;
	font-weight: normal;
	margin: 0px;
	line-height: 24px;
}

@media (max-width: 340px) {
	body {
		font-size: 12px;
		line-height: 18px;
	}

	p.medium {
		font-size: 12px;
		margin-bottom: 10px;
	}

	h3 {
		font-size: 13px;
		line-height: 19px;
		font-weight: bold;
	}
}

.banner img, .photo img {
	display: block;
    margin: 0px auto;
    width: 100%;
}

.function, .cases {
	border: 1px solid #ccc; 
	border-radius: 5px;
	margin: 13px 0px;
	background: #f4f4f4;
}

@media (max-width: 767px) {
	.function, .cases {
		margin: 13px 10px;
	}
}

.desc {
	text-align: center;
	padding: 20px 10px 5px;
}

.feature:first-child {
	text-align: right;	
}

.feature:last-child {
	text-align: left;	
}

@media (max-width: 767px) {
	.row-fluid [class*="span"] {
		float: left;
		width: 33.3%;
		margin: 0px;
	}
}

@media (max-width: 480px) {
	.row-fluid [class*="span"] {
		float: none;
		width: 100%;
	}

	.desc .feature {
		text-align: center;
	}
}

.photo {
	padding: 0px 10px;
	position: relative;
	z-index: 1000;
}

.sketch-list {
    padding: 15px 0px;
    position: relative;
    z-index: 1001;
    border-top: 1px solid #fff;
    box-shadow: 0px -2px 3px rgba(0, 0, 0, .1);
    overflow-x: scroll;
}

.sketch-list-inner {
	min-width: 1920px;
}

.sketch {
    float: left;
	padding: 0px 5px;
	box-sizing: border-box;
}

.cases p, .sketch p, .contact {
    text-align: center;
}

.pic {
    padding: 0px 5px;
	box-sizing: border-box;
	border-right: 1px solid #ccc;
}

.sketch:last-child .pic {
	border-right: none;
}

.title {
	margin-bottom: 0px;
}

@media (max-width: 480px) {
	.sketch .title {
		font-size: 14px;
	}
}

.cases {
	padding: 15px;
	overflow: hidden;
}

.case {
	box-sizing: border-box;
	padding: 5px;
	float: left;
	width: 25%;
}

@media (max-width: 480px) {
	.case {
		width: 33.3%;
	}

	.case p {
		font-size: 13px;
		margin-bottom: 5px;
	}
}

@media (max-width: 480px) {
	.case p {
		font-size: 12px;
	}
}

.case img {
	padding-top: 20px;
	width: 84px;
}

.contact {
	margin: 25px 0px;
	line-height: 20px;
	font-size: 15px;
}

a.phone-number {
	font-size: 16px;
    color: inherit;
    text-decoration: none
}

.contact i {
	display: inline-block;
	vertical-align: baseline;
	width: 18px;
	height: 16px;
}

i.phone {
	background: url(../img/contact_phone.png) no-repeat center center;
	background-size: 16px 14px;
	margin-bottom: -1px;
	margin-right: -1px;
	width: 14px;
	height: 14px;
}

i.mail {
	margin-bottom: -3px;
	background: url(../img/contact_mail.png) no-repeat center center;
}

.footer {
	font-size: 13px;
	margin-bottom: 25px;
	line-height: 20px;
}

.footer p {
	margin-bottom: 0px;
}

@media (max-width: 340px) {
	.contact {
		font-size: 12px;
	}

	a.phone-number {
		font-size: 13px;
	}

	.footer {
		font-size: 12px;
	}
}
