body {
    padding: 0;
    font-family: "Microsoft Yahei", "微软雅黑", "Tahoma", "Arial", "Helvetica","STHeiti";
}

#focus .item img {
    width: 100%;
}

.items .item a:active {
    color: transparent;
}