body {
    padding: 0;
    font-family: "Microsoft Yahei", "微软雅黑", "Tahoma", "Arial", "Helvetica","STHeiti";
}

#focus .item img {
    width: 100%;
}

#focus {
    margin-bottom: 8px;
}

.items .item a:active {
    color: transparent;
}

#focus .carousel-control {
    width: 20px;
    height: 20px;
    font-size: 24px;
    line-height: 17px;
    border: 2px solid #fff;
}

#focus .carousel-caption {
    position: absolute;
    padding: 8px;
}

.footer {
    border-top: 1px solid #ababab;
    line-height: 40px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer a span {
    color: #66bb11;
}

.footer a, .footer a:active, .footer a:hover {
    color: #828282;
    text-decoration: none;
}