.nav.nav-tabs li.disabled a {
    cursor: pointer;
}

@keyframes highlight {
from { background: #dff0d8; } 
to  { background: #f9f9f9; }
}

@-webkit-keyframes highlight {
from { background: #dff0d8; } 
to  { background: #f9f9f9; }
}

tr.highlight td {
    animation: highlight 2s;
    -webkit-animation: highlight 2s;
    background-color: #dff0d8;
}

.move-up {
    border-right: 1px solid #ccc;
}

.move-up, .move-down {
    padding: 0px 3px;
    opacity: .8;
}

.move-up:focus, .move-down:focus {
    outline: none;
}

.move-up:hover, .move-down:hover {
    opacity: 1;
}

.move-up {
    padding-left: 0px;
    padding-right: 6px;
    border-left: none;
}

.move-up.disabled, .move-down.disabled {
    background-color: transparent;
    opacity: .3;
}

.move-up.disabled:hover, .move-down.disabled:hover {
    text-decoration: none;
    color: #333;
}

#reorder-pages-modal table td, #reorder-pages-modal table th {
    padding: 6px 12px;
}

