.nav.nav-tabs li.disabled a {
    cursor: pointer;
}

ul#page-list {
    list-style: none;
    margin: 0px;
}

ul#page-list li {
    margin-top: -1px;
    background-color: #FFF;
    line-height: 40px;
    padding-left: 20px;
    cursor: move;
    border: 1px solid #DDD; 
}

ul#page-list li.even {
    background-color: #F1F1F1;
}

ul#page-list li.placeholder {
    height: 40px;
}
