{% extends "framework.html" %}

{% block title %}账户管理{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/account.js"></script>
{% endblock %}

{% block document_ready %}
{{ block.super }}
$('#nav-account').addClass('active');
$('#unbind').click(function() {
    if (!$(this).hasClass('disabled')) {
        var wxAccountName = $('#wxaccount_name').text();
        if (wxAccountName) {
            Dajaxice.framework.clear_bind_info(Dajax.process, { 'name' : wxAccountName });
        }

        $('#wxaccount').hide();
        $('#no_wxaccount').show();
    }
});
$('#change_password_save').click(changePassword);
$('#change_password').on('hidden', function() {
    $('#password_old input').val('');
    $('#password_new1 input').val('');
    $('#password_new2 input').val('');
    $('#change_password .control-group').removeClass('error');
});
$('#edit_account_save').click(editAccount);
$('#edit_account').on('show', function() {
   $('#email input').val($('#info_email').text()); 
   $('#qq input').val($('#info_qq').text()); 
   $('#edit_account .control-group').removeClass('error');
});
{% endblock %}

{% block app %}
<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">基本信息</p>
    </div>
</div>
<table class="table">
    <tr>
        <th>用户名</th>
        <td><span id="info_username">{{ account.user.username }}</span></td>
    </tr>
    <tr>
        <th>手机号码</th>
        <td><span id="info_phone">{{ account.phone }}</span></td>
    </tr>
    <tr>
        <th>邮箱</th>
        <td><span id="info_email">{{ account.user.email }}</span></td>
    </tr>
    <tr>
        <th>QQ</th>
        <td><span id="info_qq">{{ account.qq }}</span></td>
    </tr>
    <tr>
        <th>注册时间</th>
        <td><span id="info_reg_time">{{ account.user.date_joined | date:"Y-m-d H:i:s"}}</span></td>
    </tr>
    <tr>
        <th>上次登陆时间</th>
        <td><span id="info_last_active_time">{{ account.user.last_login | date:"Y-m-d H:i:s" }}</span></td>
    </tr>
    <tr>
        <th>操作</th>
        <td><a href="#edit_account" class="btn" role="button" data-toggle="modal">修改账户信息<a/><a href="#change_phone" class="btn" role="button" data-toggle="modal" style="margin-left:8px;">修改手机号码<a/><a href="#change_password" class="btn" style="margin-left:8px;" role="button" data-toggle="modal">修改密码<a/></td>
    </tr>
</table>


<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">会员信息</p>
    </div>
</div>
<table class="table">
    <tr>
        <th>账户类型</th>
        <td><span id="account_type">{{ group | default_if_none:"试用账户"}}</span></td>
    </tr>
    <tr>
        <th>到期时间</th>
        <td><span id="expired_time">{{ account.expired_time | date:"Y-m-d H:i:s" }}</span></td>
    </tr>
</table>

<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">账户绑定信息</p>
    </div>
</div>
{% if wx_account %}
<table id="wxaccount" class="table">
    <thead>
        <th>公众号名称</th>
        <th>绑定时间</th>
        <th>本月消息个数</th>
        <th>操作</th>
    </thead>
    <tbody>
        <tr>
            <td><span id="wxaccount_name">{{ wx_account.name }}</span></td>
            <td><span id="wxaccount_bindtime">{{ wx_account.bind_time | date:"Y-m-d H:i:s" }}</span></td>
            <td><span id="wxaccount_msgcount">{{ wx_account.message_count }}</span></td>
            <td><a href="#unbind_conform" role="button" class="btn btn-danger" data-toggle="modal">解除绑定</a></td>
        </tr>
    </tbody>
</table>
{% endif %}
<table id="no_wxaccount" class="table {% if wx_account %}hide{% endif %}">
    <tr>
        <td><a href="/bind" class="btn btn-primary">绑定微信公众号</a></td>
    </tr>
</table>

<div id="unbind_conform" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="unbind_conform_header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="unbind_conform_header">解除绑定</h3>
    </div>
    <div class="modal-body">
        <p>解除微信公众号绑定会清空该公众账号的设置，是否继续解除绑定？</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button id="unbind" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">解除绑定</button>
    </div>
</div>

<div id="edit_account" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit_account_header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="edit_account_header">编辑账号信息</h3>
    </div>
    <div class="modal-body">
        <form id="edit_account_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="control-group" id="email">
                <label class="control-label" for="email">邮箱</label>
                <div class="controls">
                    <input type="text" name="email">
                </div>
            </div>
            <div class="control-group" id="qq">
                <label class="control-label" for="qq">QQ</label>
                <div class="controls">
                    <input type="text" name="qq">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="edit_account_save" class="btn btn-primary" data-loading-text="保存...">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>

<div id="change_password" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="change_password_header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="change_password_header">修改密码</h3>
    </div>
    <div class="modal-body">
        <form id="change_password_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <input type="hidden" name="username" value="{{ account.user.username }}">
            <div class="control-group" id="password_old">
                <label class="control-label" for="password_old"><span style="color:red;">*</span>旧密码</label>
                <div class="controls">
                    <input type="password" name="password_old">
                </div>
            </div>
            <div class="control-group" id="password_new1">
                <label class="control-label" for="password_new1"><span style="color:red;">*</span>新密码</label>
                <div class="controls">
                    <input type="password" name="password_new1">
                    <span class="help-block">6～16个字符，区分大小写</span>
                </div>
            </div>
            <div class="control-group" id="password_new2">
                <label class="control-label" for="password_new2"><span style="color:red;">*</span>确认密码</label>
                <div class="controls">
                    <input type="password" name="password_new2">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="change_password_save" class="btn btn-primary" data-loading-text="保存...">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>
{% endblock %}