{% extends "base.html" %}

{% block title %}添加案例{% endblock %}

{% block content %}
<div id="content" class="container">
    <div class="page-header">
        <h1>添加案例</h1>
    </div>

    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="title"><span style="color:red;">*</span>{{form.title.label}}</label>
            <div class="controls">
                {{ form.title }}{{ form.title.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cls"><span style="color:red;">*</span>{{form.cls.label}}</label>
            <div class="controls">
                {{ form.cls }}{{ form.cls.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic1"><span style="color:red;">*</span>{{form.case_pic1.label}}</label>
            <div class="controls">
                {{ form.case_pic1 }}{{ form.case_pic1.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic2"><span style="color:red;">*</span>{{form.case_pic2.label}}</label>
            <div class="controls">
                {{ form.case_pic2 }}{{ form.case_pic2.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic3"><span style="color:red;">*</span>{{form.case_pic3.label}}</label>
            <div class="controls">
                {{ form.case_pic3 }}{{ form.case_pic3.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic4"><span style="color:red;">*</span>{{form.case_pic4.label}}</label>
            <div class="controls">
                {{ form.case_pic4 }}{{ form.case_pic4.errors }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="case_intro"><span style="color:red;">*</span>{{form.case_intro.label}}</label>
            <div class="controls">
                {{ form.case_intro }}{{ form.case_intro.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button id="save" type="submit" class="btn btn-primary">保存</button>
            <button id="cancel" type="button" class="btn">取消</button>
        </div>
    </form>
</div>
{% endblock %}
