{% extends "base.html" %}

{% block title %}新增团队成员{% endblock %}

{% block content %}
<style type="text/css">
.leftbutton {
    float:left;
}
</style>

<div id="content" class="container">
    <div class="page-header">
        <h1>新增团队成员</h1>
    </div>

    <form id="team_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="name"><span style="color:red;">*</span>{{form.name.label}}</label>
            <div class="controls">
                {{ form.name }}{{ form.name.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="job_title"><span style="color:red;">*</span>{{form.job_title.label}}</label>
            <div class="controls">
                {{ form.job_title }}{{ form.job_title.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="picture"><span style="color:red;">*</span>{{form.picture.label}}</label>
            <div class="controls">
                {{ form.picture }}<span class="help-inline">{{form.picture.help_text}}</span>{{ form.picture.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="person_digest"><span style="color:red;">*</span>{{form.person_digest.label}}</label>
            <div class="controls">
                {{ form.person_digest }}<span class="help-inline">{{form.person_digest.help_text}}</span>{{ form.person_digest.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="person_content"><span style="color:red;">*</span>{{form.person_content.label}}</label>
            <div class="controls">
                {{ form.person_content }}{{ form.person_content.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button id="preview" class="btn">预览</button>
            <button id="save" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<script>

start_preview_history_length = 0;
function preview_back() {
    if (iframe_preview.history.length > start_preview_history_length) {
        //can't not solve all problems, we can't get the index of current page in history
        iframe_preview.history.back();
    }
    return false;
}
$('#preview').click(function() {
    bootbox.dialog("<iframe style='margin-left:auto margin-right:auto' id='iframe_preview' name='iframe_preview' width='350' scrolling='no' height='640'></iframe>", [{'label':'后退','class':'leftbutton', 'callback':preview_back}, {'label':'关闭','callback':function(){}}], {'header':'预览'});
    $("#team_form").attr('action', "/preview/team_item");
    $("#team_form").attr('target', 'iframe_preview');
    $("#team_form").submit();
    $('.bootbox').css('width', '398px');
    $('.modal-body').css('height', '660px');
    start_preview_history_length = iframe_preview.history.length;
});
$("#save").click(function() {
    $("#team_form").attr('action', "");
    $("#team_form").attr('target', '_self');
    $("#team_form").submit();
});

</script>

{% endblock %}
