
{% extends "base.html" %}

{% block title %}新增产品{% endblock %}

{% block content %}
<div id="content" class="container">
    <div class="page-header">
        <h1>新增产品</h1>
    </div>

    <form id="product_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="title"><span style="color:red;">*</span>{{form.title.label}}</label>
            <div class="controls">
                {{ form.title }}{{ form.title.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cls">{{form.cls.label}}</label>
            <div class="controls">
                {{ form.cls }}{{ form.cls.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="product_pic1"><span style="color:red;">*</span>{{form.product_pic1.label}}</label>
            <div class="controls">
                {{ form.product_pic1 }}<span class="help-inline">{{form.product_pic1.help_text}}</span>{{ form.product_pic1.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="product_pic2">{{form.product_pic2.label}}</label>
            <div class="controls">
                {{ form.product_pic2 }}{{ form.product_pic2.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="product_pic3">{{form.product_pic3.label}}</label>
            <div class="controls">
                {{ form.product_pic3 }}{{ form.product_pic3.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="product_pic4">{{form.product_pic4.label}}</label>
            <div class="controls">
                {{ form.product_pic4 }}{{ form.product_pic4.errors }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="product_intro"><span style="color:red;">*</span>{{form.product_intro.label}}</label>
            <div class="controls">
                {{ form.product_intro }}{{ form.product_intro.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button id="preview" class="btn">预览</button>
            <button id="save" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<style type="text/css">
.leftbutton {
    float:left;
}
</style>

<script>
start_preview_history_length = 0;
function preview_back() {
    if (iframe_preview.history.length > start_preview_history_length) {
        //can't not solve all problems, we can't get the index of current page in history
        iframe_preview.history.back();
    }
    return false;
}
$('#preview').click(function() {
    bootbox.dialog("<iframe style='margin-left:auto margin-right:auto' id='iframe_preview' name='iframe_preview' width='350' scrolling='auto' height='700'></iframe>", [{'label':'后退','class':'leftbutton', 'callback':preview_back}, {'label':'关闭','callback':function(){}}], {header:'预览'});
    {% if item_id %}
    $("#product_form").attr('action', "/preview/product_item/{{ item_id }}");
    {% else %}
    $("#product_form").attr('action', "/preview/product_item");
    {% endif %}
    $("#product_form").attr('target', 'iframe_preview');
    $("#product_form").submit();
    $('.bootbox').css('width', '398px');
    $('.modal').css('margin-left', '-200px');
    $('.modal-body').css('overflow-x', 'hidden');
    $('.modal-body').css('height', '660px');
    start_preview_history_length = iframe_preview.history.length;
});
$("#save").click(function() {
    $("#product_form").attr('action', "");
    $("#product_form").attr('target', '_self');
    $("#product_form").submit();
});

</script>


{% endblock %}
