{% extends "base.html" %}
{% block content %}
<div style="width:978px;height:520px;position:absolute;top:50%;left:50%;margin-top:-220px;margin-left:-489px;">
<h3>添加联系人</h3>
<form method='post' enctype="multipart/form-data"> {% csrf_token %}
<table class="table">
    <tbody>
    <tr><th>{{ form.contact_item.label }}</th><td>{{ form.contact_item }}{{ form.contact_item.errors }}</td></tr>
    <tr><th>{{ form.name.label }}</th><td>{{ form.name }}{{ form.name.errors }}</td></tr>
    <tr><th>{{ form.email.label }}</th><td>{{ form.email }}{{ form.email.errors }}</td></tr>
    <tr><th>{{ form.phone.label }}</th><td>{{ form.phone }}{{ form.phone.errors }}</td></tr>
    <tr><th>{{ form.qq.label }}</th><td>{{ form.qq }}{{ form.qq.errors }}</td></tr>
    </tbody>
</table>
<div class="form-bottom-buttons text-right">
    <button class="btn btn-primary btn-large" id="tab-save">保存</button>
</div>
</form>
</div>
{% endblock %}
