{% extends "base.html" %}

{% block title %}添加链接页面{% endblock %}

{% block content %}
<div id="content" class="container">
    <div class="page-header">
        <h1>添加链接页面</h1>
    </div>

    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="title"><span style="color:red;">*</span>{{form.title.label}}</label>
            <div class="controls">
                {{ form.title }}{{ form.title.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="icon"><span style="color:red;">*</span>{{form.icon.label}}</label>
            <div class="controls">
                {{ form.icon }}{{ form.icon.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="url"><span style="color:red;">*</span>{{form.url.label}}</label>
            <div class="controls">
                {{ form.url }}{{ form.url.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button id="save" type="submit" class="btn btn-primary">保存</button>
            <button id="cancel" type="button" class="btn">取消</button>
        </div>
    </form>
</div>
{% endblock %}
