{% extends "base.html" %}

{% block title %}新增动态{% endblock %}

{% block content %}
<style type="text/css">
.leftbutton {
    float:left;
}
</style>

<div id="content" class="container">
    <div class="page-header">
        <h1>新增动态</h1>
    </div>

    <form id="trend_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="title"><span style="color:red;">*</span>{{form.title.label}}</label>
            <div class="controls">
                {{ form.title }}{{ form.title.errors }}
            </div>
        </div>
         <div class="control-group">
            <label class="control-label" for="cover">{{form.cover.label}}</label>
            <div class="controls">
                {{ form.cover }}<span class="help-inline">{{form.cover.help_text}}</span>{{ form.cover.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="summary">{{form.summary.label}}</label>
            <div class="controls">
                {{ form.summary }}{{ form.summary.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="content"><span style="color:red;">*</span>{{form.content.label}}</label>
            <div class="controls">
                {{ form.content }}{{ form.content.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button id="preview" class="btn">预览</button>
            <button id="save" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<script>

start_preview_history_length = 0;
function preview_back() {
    if (iframe_preview.history.length > start_preview_history_length) {
        //can't not solve all problems, we can't get the index of current page in history
        iframe_preview.history.back();
    }
    return false;
}
$('#preview').click(function() {
    bootbox.dialog("<iframe style='margin-left:auto margin-right:auto' id='iframe_preview'scrolling='no' name='iframe_preview' width='350' height='640'></iframe>", [{'label':'后退','class':'leftbutton', 'callback':preview_back}, {'label':'关闭','callback':function(){}}], {'header':'预览'});
    $("#trend_form").attr('action', "/preview/trend_item");
    $("#trend_form").attr('target', 'iframe_preview');
    $("#trend_form").submit();
    $('.bootbox').css('width', '398px');
    $('.modal-body').css('height', '660px');
    start_preview_history_length = iframe_preview.history.length;
});
$("#save").click(function() {
    $("#trend_form").attr('action', "");
    $("#trend_form").attr('target', '_self');
    $("#trend_form").submit();
});

</script>

{% endblock %}
