{% extends "base.html" %}

{% block title %}新增成功案例{% endblock %}

{% block content %}

<style type="text/css">
.leftbutton {
    float:left;
}
</style>

<div id="content" class="container">
    <div class="page-header">
        <h1>新增成功案例</h1>
    </div>

    <form id="case_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="title"><span style="color:red;">*</span>{{form.title.label}}</label>
            <div class="controls">
                {{ form.title }}{{ form.title.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="cls">{{form.cls.label}}</label>
            <div class="controls">
                {{ form.cls }}{{ form.cls.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic1"><span style="color:red;">*</span>{{form.case_pic1.label}}</label>
            <div class="controls">
                {{ form.case_pic1 }}<span class="help-inline">{{form.case_pic1.help_text}}</span>{{ form.case_pic1.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic2">{{form.case_pic2.label}}</label>
            <div class="controls">
                {{ form.case_pic2 }}{{ form.case_pic2.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic3">{{form.case_pic3.label}}</label>
            <div class="controls">
                {{ form.case_pic3 }}{{ form.case_pic3.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="case_pic4">{{form.case_pic4.label}}</label>
            <div class="controls">
                {{ form.case_pic4 }}{{ form.case_pic4.errors }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="case_intro"><span style="color:red;">*</span>{{form.case_intro.label}}</label>
            <div class="controls">
                {{ form.case_intro }}{{ form.case_intro.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button id="preview" class="btn">预览</button>
            <button id="save" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
<script>

start_preview_history_length = 0;
function preview_back() {
    if (iframe_preview.history.length > start_preview_history_length) {
        //can't not solve all problems, we can't get the index of current page in history
        iframe_preview.history.back();
        return false;
    }
}

$('#preview').click(function() {
    bootbox.dialog("<iframe align='middle' id='iframe_preview' name='iframe_preview' scrolling='auto' width='350' height='700'></iframe>", [{'label':'后退','class':'leftbutton', 'callback':preview_back}, {'label':'关闭','callback':function(){}}], {header:'预览'});
    {% if item_id %}
    $("#case_form").attr('action', "/preview/case_item/{{ item_id }}");
    {% else %}
    $("#case_form").attr('action', "/preview/case_item");
    {% endif %}
    $("#case_form").attr('target', 'iframe_preview');
    $("#case_form").submit();
    $('.bootbox').css('width', '398px');
    $('.modal').css('margin-left', '-200px');
    $('.modal-body').css('overflow-x', 'hidden');
    $('.modal-body').css('height', '660px');
    start_preview_history_length = iframe_preview.history.length;
});
$("#save").click(function() {
    $("#case_form").attr('action', "");
    $("#case_form").attr('target', '_self');
    $("#case_form").submit();
});

</script>


{% endblock %}
