{% extends "whole_edit.html" %}
{% block content %}
<div style="width:978px;height:520px;position:absolute;top:50%;left:50%;margin-top:-220px;margin-left:-489px;">
<h3>添加案例</h3>
<form method='post' enctype="multipart/form-data"> {% csrf_token %}
<table class="table">
    <tbody>
    <tr><th>{{ form.title.label }}</th><td>{{ form.title }}{{ form.title.errors }}</td></tr>
    <tr><th>{{ form.cls.label }}</th><td>{{ form.cls }} {{ form.cls.errors }}</td></tr>
    <tr><th>{{ form.product_pic1.label }}</th><td>{{ form.product_pic1 }} {{ form.product_pic1.errors }}</td></tr>
    <tr><th>{{ form.product_pic2.label }}</th><td>{{ form.product_pic2 }} {{ form.product_pic2.errors }}</td></tr>
    <tr><th>{{ form.product_pic3.label }}</th><td>{{ form.product_pic3 }} {{ form.product_pic3.errors }}</td></tr>
    <tr><th>{{ form.product_pic4.label }}</th><td>{{ form.product_pic4 }} {{ form.product_pic4.errors }}</td></tr>
    <tr><th>{{ form.product_intro.label }}</th><td>{{ form.product_intro }} {{ form.product_intro.errors }}</td></tr>
    </tbody>
</table>
{% include "save_cancel_section.html" %}
</form>
</div>
{% endblock %}
