{% extends "base.html" %}
{% block document_ready %}
$(document).ready(function(){
    $('#cancel').click(function(){
        history.back();
        return false;
    });
    $('#save').click(function(){
        var lngval = $("input#id_lng").val();
        if (lngval != '') {
            $(this).closest('form').submit();
        } else {
            $('#map_prompt').modal();
        }
        return false;
    });
});
{% endblock %}

{% block content %}
<div id="content" class="container">
    <div class="page-header">
        <h1>添加联系公司</h1>
    </div>
   <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=BFd6600742ae05307e9b9b50a00d1fd2"></script>
   <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="name"><span style="color:red;">*</span>{{form.name.label}}</label>
            <div class="controls">
               	<input class="input-xxlarge" id="id_name" name="name" type="text" />{{ form.name.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="fax_code">{{form.fax_code.label}}</label>
            <div class="controls">
                <input class="input-xxlarge" id="id_fax_code" name="fax_code" type="text" />{{ form.fax_code.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="address"><span style="color:red;">*</span>{{form.address.label}}</label>
            <div class="controls">
                <input class="input-xxlarge" id="id_address" name="address" type="text" /><span class="help-block">填写公司地址后，将鼠标移到下方地图上，在正确位置右键点击进行确认！</span>{{ form.address.errors }}
            </div>
        </div>
        <div>{{ form.lng }}</div>
        <div>{{ form.lat }}</div>
        <div id="baidumap" style="height:300px; margin-left:19%; margin-right:23%;"></div>
        <div class="form-actions">
            <button id="save" type="submit" class="btn btn-primary">保存</button>
            <button id="cancel" type="button" class="btn">取消</button>
        </div>
    </form>

</div>

<div id="map_prompt" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>提示</h3>
    </div>
    <div class="modal-body">
        <p>填写公司地址后，将鼠标移到下方地图上，在正确位置右键点击进行确认！</p>
    </div>
    <div class="modal-footer">
        <a aria-hidden="true" class="btn btn-primary" data-dismiss="modal">关闭</a>
    </div>
</div>

<script type="text/javascript">
// 百度地图API功能
var map = new BMap.Map("baidumap");            // 创建Map实例
var point = new BMap.Point(116.404, 39.915);    // 创建点坐标
map.centerAndZoom(point,15);
var local = new BMap.LocalSearch(map, {
    renderOptions:{
        map: map,
        autoViewport: true,
        selectFirstResult: false},
    pageCapacity:0});

var addr_cnt = 0;
var addr_point = null;
var marker = null;

$ori_lng = $('input#id_lng').val();
$ori_lat = $('input#id_lat').val();

if ($ori_lng) {
    addr_point = new BMap.Point(parseFloat($ori_lng), parseFloat($ori_lat));
    marker = new BMap.Marker(addr_point);
    map.centerAndZoom(addr_point, 15);
    map.addOverlay(marker);
}


var contextMenu = new BMap.ContextMenu();
var menuItem = new BMap.MenuItem(
    '就是这里',
    function () {
        console.log(addr_point);
        $("input#id_lng").val(addr_point.lng);
        $("input#id_lat").val(addr_point.lat);
        if (marker) {
            map.removeOverlay(marker);
            marker = null;
        }
        marker = new BMap.Marker(addr_point);
        map.addOverlay(marker);
    }
);
contextMenu.addItem(menuItem);
contextMenu.addEventListener("open", function(e) {
    addr_point = e.point;
});

map.addContextMenu(contextMenu);

function changeAddress(tcnt) {
    if (addr_cnt == tcnt) {
        local.search($('input#id_address').val());
    }
}
$('input#id_address').on('input', function() {
    addr_cnt += 1;
    setTimeout(changeAddress, 1000, addr_cnt);
});
</script>

{% endblock %}
