{% extends "base.html" %}

{% block title %}添加链接页面{% endblock %}

{% block document_ready %}
if ($('#id_message_description').text() == "") {
    $('#id_message_description').text('点击查看全部内容。');   
}
{% endblock %}

{% block content %}
<div id="content" class="container">
    <div class="page-header">
        <h1>添加链接页面</h1>
    </div>

    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="title"><span style="color:red;">*</span>{{form.title.label}}</label>
            <div class="controls">
                {{ form.title }}{{ form.title.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="icon"><span style="color:red;">*</span>{{form.icon.label}}</label>
            <div class="controls">
                {{ form.icon }}{{ form.icon.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="url"><span style="color:red;">*</span>{{form.url.label}}</label>
            <div class="controls">
                {{ form.url }}{{ form.url.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="message_cover"><span style="color:red;">*</span>{{form.message_cover.label}}</label>
            <div class="controls">
                {{ form.message_cover }}{{ form.message_cover.errors }}
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="message_description"><span style="color:red;">*</span>{{form.message_description.label}}</label>
            <div class="controls">
                <textarea cols="40" id="id_message_description" name="message_description" rows="10" style="margin-left: 0px; margin-right: 0px; width: 746px;"></textarea>
                {{ form.message_description.errors }}
            </div>
        </div>
        <div class="form-actions">
            <button id="save" type="submit" class="btn btn-primary">保存</button>
        </div>
    </form>
</div>
{% endblock %}
