{% load dajaxice_templatetags %}


<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}酷掌柜-教育培训版{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/sidenav.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/rocket.css"/>
  <link rel="stylesheet" type="text/css" media="all" 
        href="{{ STATIC_URL }}css/jquery.pnotify.default.css"/>
  <link rel="stylesheet" type="text/css" media="all" 
        href="{{ STATIC_URL }}css/jquery.pnotify.default.icons.css"/>
  {% block css %}{% endblock %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/console-polyfill.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}ckeditor_new/ckeditor.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/bootbox.min.js"></script>
  <script type="text/javascript" 
          src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
  <script type="text/javascript" 
          src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.pnotify.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}dajax/jquery.dajax.core.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/base.js"></script>
  {% dajaxice_js_import %}
  {{ form.media }}
  {% block js %}{% endblock %}

	<script type="text/javascript">
		$(document).ready(function() {
			{% block document_ready %}{% endblock %}
		});
        $(function() {
            AjaxUploadWidget.autoDiscover({
                "changeButtonText" : "修改图片",
                "removeButtonText" : "删除图片"
            });
        });
	</script>
</head>

<body style="padding-top:40px;">
	<div id="navbar" class="navbar navbar-fixed-top">
  		<div class="navbar-inner" style="padding:0 8px;">
    	<img class="img-rounded pull-left" style="margin-top:5px; margin-right:8px;" src="{{ STATIC_URL }}img/icon.png" />
    	<a class="brand" href="/">酷掌柜</a>
        {% block tab-content %}{% endblock %}
    	{% if user.is_authenticated %}
			<div class="btn-group pull-right">
				<a class="btn btn-primary" data-toggle="dropdown" href="#"><i class="icon-user icon-white"></i> {{user.username}}</a>
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				<ul class="dropdown-menu">
		  			<li><a href="/signout"><i class="icon-off"></i>退出</a></li>
				</ul>
			</div>
		{% endif %}

		<ul class="nav pull-right">
			<li class="dropdown">
				<a id="contact-us" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">联系客服<b class="caret"></b></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="contact-us" style="width:300px;">
  					<li>
  						<div class="row">
  							<div class="span2">
								<img src="{{ STATIC_URL }}img/wechat_kuzhanggui.jpg" alt="" style="width:120px;height:120px;">
							</div>
							<div class="span2">
								<div class="row"><h3>酷小二</h3></div>
								<div class="row"><p><strong>电话：</strong>400-014-7588</div>
								<div class="row"><strong>QQ：</strong>334813690</p></div>
							</div>
						</div>
  					</li>
                    <!-- <li class="divider"></li>
                    <li>
                        <div class="row">
                            <div class="span2">
                                <img src="{{ STATIC_URL }}img/wechat_wangnan.jpg" alt="" style="width:120px;height:120px;">
                            </div>
                            <div class="span2">
                                <div class="row"><h3>王先生</h3></div>
                                <div class="row"><p><strong>电话：</strong>13426017242</div>
                                <div class="row"><strong>QQ：</strong>375584419</p></div>
                            </div>
                        </div>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <div class="row">
                            <div class="span2">
                                <img src="{{ STATIC_URL }}img/wechat_zhengfeng.jpg" alt="" style="width:120px;height:120px;">
                            </div>
                            <div class="span2">
                                <div class="row"><h3>周先生</h3></div>
                                <div class="row"><p><strong>电话：</strong>18800076776</div>
                                <div class="row"><strong>QQ：</strong>208082</p></div>
                            </div>
                        </div>
                    </li> -->
				</ul>
			</li>
		</ul>
	</div>
</div>


{% block content %} Content here! {% endblock %}
</body>
</html>
