<div class="btn-group">
    <button class="btn">增加案例</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="/case/add">增加案例</a>
        </li>
        <li>
            <a href="/case_class/add">增加案例分类</a>
        </li>
    </ul>
</div>
{% load render_table from django_tables2 %}
{% render_table app_info.0 "django_tables2/table.html" %}
{% render_table app_info.1 "django_tables2/table.html" %}

