<div class="btn-group" id="margin_bottom">
    <button class="btn btn-primary"><i class="icon-plus icon-white"></i>增加案例</button>
    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="/case/add">增加案例</a>
        </li>
        <li>
            <a href="#myModal" data-toggle="modal">增加案例分类</a>
        </li>
    </ul>
</div>

{% if not active_app_specific.enable %}
{% include "prompt.html" with active_app_specific_title=active_app_specific.title tab_id=tab_id%}
{% endif %}

{% load render_table from django_tables2 %}
{% render_table app_info.0 "django_tables2/table.html" %}
{% render_table app_info.1 "django_tables2/table.html" %}
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 id="myModalLabel">增加案例分类</h3>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
                    <div class="control-group" id="name">
                    <label class="control-label" for="name">分类名称</label>
                    <div class="controls">
                        <input type="text" name="name">
                    </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                     <button id="save" type="submit" class="btn btn-primary">保存</button>
                     <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
                </div>
             </div>

