<script type="text/javascript" src="{{ STATIC_URL }}js/app_dialog.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('#add_case_class_save').click(addCaseClass);
        $('#change_case_class_save').click(changeCaseClass);
    });
    function showDialog(var1,var2){
        $('#change_case_class').modal();
        $('#name_change').val(var1);
        $('#record_id_change').val(var2)
    };
</script>


<div class="btn-group" id="margin_bottom">
    <button class="btn btn-primary" data-toggle="dropdown"><i class="icon-plus icon-white"></i>新增成功案例</button>
    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li>
            <a href="#add_case_class" data-toggle="modal">新增案例分类</a>
        </li>
        <li>
            <a href="/case/add" target="_blank">新增成功案例</a>
        </li>
    </ul>
</div>

{% if not active_app_specific.enable %}
{% include "prompt.html" with active_app_specific_title=active_app_specific.title tab_id=tab_id%}
{% endif %}

<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">案例分类</p>
    </div>
</div>
{% load render_table from django_tables2 %}
{% render_table app_info.1 "django_tables2/table.html" %}
<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">成功案例</p>
    </div>
</div>
{% render_table app_info.0 "django_tables2/table.html" %}


<div id="add_case_class" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">新增案例分类</h3>
    </div>
    <div class="modal-body">
        <form id="add_case_class_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="control-group" id="name">
                <label class="control-label" for="name">分类名称</label>
                <div class="controls">
                    <input type="text" name="name" id="name">
                </div>
                <input type="hidden" name="tab_id" value="{{ active_app_specific.pk }}">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="add_case_class_save" class="btn btn-primary" data-loading-text="保存...">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>


<div id="change_case_class" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="myModalLabel">修改案例分类</h3>
    </div>
    <div class="modal-body">
        <form id="change_case_class_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="control-group">
                <label class="control-label" for="name_change">分类名称</label>
                <div class="controls">
                    <input type="text" name="name_change" id="name_change">
                </div>
                <input type="hidden" name="tab_id_change" value="{{ active_app_specific.pk }}">
                <input type="hidden" name="record_id_change" id="record_id_change">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button id="change_case_class_save" class="btn btn-primary" data-loading-text="保存...">保存</button>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>

<div id="delete_case" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete_case_header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>删除案例</h3>
    </div>
    <div class="modal-body">
        <span>确认删除案例 <strong id="case_name"></strong>?</span>
    </div>
    <div class="modal-footer">
        <a id="delete_case_ok" href="#" class="btn btn-danger btn-del">删除</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>

<div id="delete_case_class" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete_case_class_header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>删除案例分类</h3>
    </div>
    <div class="modal-body">
        <span>确认删除案例分类 <strong id="case_class_name"></strong>?</span>
    </div>
    <div class="modal-footer">
        <a id="delete_case_class_ok" href="#" class="btn btn-danger btn-del">删除</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>

