{% extends "framework.html" %}

{% block js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/highcharts.js"></script>
{% load chartit %}
{{ charts|load_charts:"weixin_daily_data,wsite_daily_data" }}
{% endblock %}

{% block app %}
<div class="page-header">
    {% if weixin.avatar %}
    <img src="{{ weixin.avatar }}" style="width:100px;height:100px;float:left;" />
    {% else %}
    <img class="thumbnail" src="/static/img/wechat_icon.png" style="width:100px;height:100px;float:left;" />
    {% endif %}
    <div style="height:120px;margin-left:124px;">
        <h1>{{ weixin.name }}</h1>
        <table style="margin-top:24px;">
            <thead style="font-size:20px;">
                <th width="50px;">{{ weixin.follower_count }}</th>
                <th width="50px;">{{ weixin.message_count }}</th>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align:center;">粉丝</td>
                    <td style="text-align:center;">月消息</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $('#nav-dashboard').addClass('active');
</script>

<div id="weixin_daily_data" class="well" style="height:400px;"></div>
<div id="wsite_daily_data" class="well" style="height:400px;"></div>
{% endblock %}
