<h2>查看微官网</h2>
<p>发送&rdquo;官网&ldquo;。</p>
<p><img alt="" src="/media/img/help_home.png" style="width: 720px; " /></p>
<p>&nbsp;</p>
<h2>找到我们</h2>
<p>发送当前地理位置，我们为您提供到达我们最近地址的导航。</p>
<p><img alt="" src="/media/img/help_location.png" style="width: 720px; " /></p>
<p><img alt="" src="/media/img/help_location2.png" style="width: 720px; " /></p>
<p>&nbsp;</p>
<h2>一键拨号</h2>
<p>发送&ldquo;电话&rdquo;，显示公司的所有联系电话，选中电话可以一键拨号。</p>
<p><img alt="" src="/media/img/help_phonenumber.png" style="width: 720px; " /></p>
<p>&nbsp;</p>
<h2>查看新手指导</h2>
<p>发送&ldquo;帮助&rdquo;。</p>
<p><img alt="" src="/media/img/help_help.png" style="width: 720px; " /></p>