<script type="text/javascript">
    $(document).ready(function(){
        Dajaxice.microsite.initial_opiton(Dajax.process);
        $("#link1").change(function(){
            var value=$(this).val();
            $("#id_link1").val(value);
        });
        $("#link2").change(function(){
            var value=$(this).val();
            $("#id_link2").val(value);
        });
        $("#link3").change(function(){
            var value=$(this).val();
            $("#id_link3").val(value);
        });
        $("#link4").change(function(){
            var value=$(this).val();
            $("#id_link4").val(value);
        });
    });
</script>

<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">页面内容设置</p>
    </div>
</div>
<table class="table">
    <tbody>
    <tr><th><span style="color:red;">*</span>{{ form.name.label }}</th><td>{{ form.name }}{{ form.name.errors }}</td></tr>
    <tr><th><span style="color:red;">*</span>{{ form.template_type.label }}</th><td>{{ form.template_type }}{{ form.template_type.errors }}</td></tr>
    <tr><th><span style="color:red;">*</span>{{ form.pic1.label }}</th><td>{{ form.pic1 }}<span class="help-inline">{{form.pic1.help_text}}</span>{{ form.pic1.errors }}</td></tr>
    <tr><th>{{ form.exp1.label }}</th><td>{{ form.exp1 }}{{ form.exp1.errors }}</td></tr>
    <tr><th>焦点图1链接</th><td><select id="link1"></select></td></tr>
    <tr style="display:none;"><th>{{ form.link1.label }}</th><td>{{ form.link1 }}{{ form.link1.errors }}</td></tr>
    <tr><th>{{ form.pic2.label }}</th><td>{{ form.pic2 }}{{ form.pic2.errors }}</td></tr>
    <tr><th>{{ form.exp2.label }}</th><td>{{ form.exp2 }}{{ form.exp2.errors }}</td></tr>
    <tr><th>焦点图2链接</th><td><select id="link2"></select></td></tr>
    <tr style="display:none;"><th>{{ form.link2.label }}</th><td>{{ form.link2 }}{{ form.link2.errors }}</td></tr>
    <tr><th>{{ form.pic3.label }}</th><td>{{ form.pic3 }}{{ form.pic3.errors }}</td></tr>
    <tr><th>{{ form.exp3.label }}</th><td>{{ form.exp3 }}{{ form.exp3.errors }}</td></tr>
    <tr><th>焦点图3链接</th><td><select id="link3"></select></td></tr>
    <tr style="display:none;"><th>{{ form.link3.label }}</th><td>{{ form.link3 }}{{ form.link3.errors }}</td></tr>
    <tr><th>{{ form.pic4.label }}</th><td>{{ form.pic4 }}{{ form.pic4.errors }}</td></tr>
    <tr><th>{{ form.exp4.label }}</th><td>{{ form.exp4 }}{{ form.exp4.errors }}</td></tr>
    <tr><th>焦点图4链接</th><td><select id="link4"></select></td></tr>
    <tr style="display:none;"><th>{{ form.link4.label }}</th><td>{{ form.link4 }}{{ form.link4.errors }}</td></tr>
    </tbody>
</table>

{% include "weixin_message_section.html" %}
