<table class="table">
    <tbody>
    <tr><th>{{ form.name.label }}</th><td>{{ form.name }}{{ form.name.errors }}</td></tr>
    <tr><th>{{ form.template_type.label }}</th><td>{{ form.template_type }}{{ form.template_type.errors }}</td></tr>
    <tr><th>{{ form.pic1.label }}</th><td>{{ form.pic1 }}{{ form.pic1.errors }}</td></tr>
    <tr><th>{{ form.pic2.label }}</th><td>{{ form.pic2 }}{{ form.pic2.errors }}</td></tr>
    <tr><th>{{ form.pic3.label }}</th><td>{{ form.pic3 }}{{ form.pic3.errors }}</td></tr>
    <tr><th>{{ form.pic4.label }}</th><td>{{ form.pic4 }}{{ form.pic4.errors }}</td></tr>
    <tr><th>{{ form.cover.label }}</th><td>{{ form.cover }}{{ form.cover.errors }}</td></tr>
    <tr><th>{{ form.content.label }}</th><td>{{ form.content }}{{ form.content.errors }}</td></tr>
    </tbody>
</table>
