<!DOCTYPE html>
<html>
<head>
	<title>酷掌柜</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/intro.css"/>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>

<body>
	<div id="navbar" class="navbar navbar-fixed-top">
  		<div class="navbar-inner">
			<div class="container">
				<ul class="nav pull-right">
					<li>酷小二</li>
					<li class="phone"><i class="phone"></i>400-014-7588</li>
					<li><i class="mail"></i>kzg@jiaoyin.cm</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="banner container">
		<img src="{{ STATIC_URL }}img/banner.png" style="width: 100%"/>
	</div>

	<div class="function container">
			<div class="row">
				<div class="span4">
					<div class="desc" style="padding: 120px 0px 0px 60px; line-height: 25px">
						<p>5分钟快速打造您的个性微官网</p>
						<p>展示公司独特风采</p>
						<p>多套模板、多种配色供选择</p>
					</div>
				</div>
				<div class="span8">
					<img class="pic" src="{{ STATIC_URL }}img/part1_largepic.png"/>
				</div>
			</div>
			<div class="cards">
				<div class="row">
					<div class="span4">
						<div class="wrapper">
							<img src="{{ STATIC_URL }}img/part1_sketchnamecard.png"/>
						</div>
						<p>公司微信名片</p>
					</div>
					<div class="span4">
						<div class="wrapper">
							<img src="{{ STATIC_URL }}img/part1_sketchmedia.png"/>
						</div>
						<p>传统广告延伸</p>
					</div>
					<div class="span4">
						<div class="wrapper last">
							<img src="{{ STATIC_URL }}img/part1_sketchshare.png"/>
						</div>
						<p>微信传播公司名片</p>
					</div>
				</div>
			</div>
	</div>
	<div class="function container">
			<div class="row">
				<div class="span8">
					<img class="pic" src="{{ STATIC_URL }}img/part2_largepic.png"/>
				</div>
				<div class="span4">
					<div class="desc" style="padding-top: 6px;">
						<h3 class="top">微官网</h3>
						<p class="small">公司介绍、公司业务、公司动态、成功案例</p>
						<p class="small">新浪微博、联系我们、团队介绍、加入我们</p>
						<h3>导航公司位置</h3>
						<p class="small">分享当前位置，通过步行、公交、驾车三种导航方式，让客户快速找到您的公司</p>
						<h3>一键拨号</h3>
						<p class="small">在微信公众号中一键拨打客服电话</p>
						<h3>生成自定义菜单</h3>
						<p class="small">快速选择重要的页面生成微信自定义菜单</p>
					</div>
				</div>
			</div>
			<div class="cards">
				<div class="row">
					<div class="span4">
						<div class="wrapper">
							<img src="{{ STATIC_URL }}img/part2_sketchfindme.png"/>
						</div>
						<p>导航公司位置</p>
					</div>
					<div class="span4">
						<div class="wrapper">
							<img src="{{ STATIC_URL }}img/part2_sketchphonecall.png"/>
						</div>
						<p>一键拨号</p>
					</div>
					<div class="span4">
						<div class="wrapper last">
							<img src="{{ STATIC_URL }}img/part2_sketchmenu.png"/>
						</div>
						<p>生成自定义菜单</p>
					</div>
				</div>
			</div>
	</div>
	<div class="function container">
			<div class="row">
				<div class="span4">
					<div class="desc" style="padding: 20px 40px 0px">
						<h2>微信墙</h2>
						<p style="margin-bottom: 30px">活动现场必备互动工具</p>
						<p style="line-height: 25px">消息实时滚动更新</p>
						<p style="line-height: 25px">自定义背景图片</p>
						<p style="line-height: 25px">图片、文字、表情皆可发</p>
					</div>
				</div>
				<div class="span8">
					<img class="pic" src="{{ STATIC_URL }}img/part3_largepic.png"/>
				</div>
			</div>
			<div class="cards">
				<div class="row">
					<div class="span4">
						<div class="wrapper">
							<img src="{{ STATIC_URL }}img/part3_sketchmeeting.png"/>
						</div>
						<p>会议现场</p>
					</div>
					<div class="span4">
						<div class="wrapper">
							<img src="{{ STATIC_URL }}img/part3_sketchwedding.png"/>
						</div>
						<p>婚礼现场</p>
					</div class="span4">
					<div class="span4">
						<div class="wrapper last">
							<img src="{{ STATIC_URL }}img/part3_sketchactivity.png"/>
						</div>
						<p>活动现场</p>
					</div>
				</div>
			</div>
	</div>
	<div class="cases container">
			<h3>成功案例</h3>
		<div class="row">
			<div class="span2">
				<div class="case">
					<a href="http://www.jiaoyin.cm" target="_blank">
						<img src="{{ STATIC_URL }}img/case_lmjy.png" />
					</a>
					<p class="small">行业：互联网</p>
					<p class="small">厘米脚印</p>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="footer">
		<p>版权所有 ©2013 北京厘米脚印科技有限公司</p>
	</div>
	<script type="text/javascript">
		$(function() {
			$(".case img ").popover({
				html: true,
				placement: "right",
				// trigger: "click",
				trigger: "hover",
				content: "<img src='{{ STATIC_URL }}img/case_lmjy_hover.jpg' width='140px' height='140px'/>"
			});
		});
	</script>
</body>
