<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <title>酷掌柜</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/microsite.css"/>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/intro_m.css" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <section class="banner">
            <a href="tel:400-014-7588">
                <img src="{{ STATIC_URL }}img/banner_phone.png"/>
            </a>
        </section>
        <section class="function">
            <div class="desc">
                <p>5分钟快速打造您的个性微官网</p>	
				<p>展示公司独特风采</p>
				<p>多套模板、多种配色供选择</p>
            </div>
            <div class="photo">
                <img src="{{ STATIC_URL }}img/part1_largepic.png"/>
            </div>
            <div class="sketch-list">
				<div class="sketch-list-inner">
    	            <div class="sketch">
       	            	<p class="pic"><img src="{{ STATIC_URL }}img/part1_sketchnamecard.png"/></p>
       	            	<p class="title">公司微信名片</p>
       	        	</div>
					<div class="sketch">
       	         		<p class="pic"><img src="{{ STATIC_URL }}img/part1_sketchmedia.png"/></p>
       	         		<p class="title">传统广告延伸</p>
       	         	</div>
       	         	<div class="sketch">
       	             	<p class="pic"><img src="{{ STATIC_URL }}img/part1_sketchshare.png"/></p>
       	             	<p class="title">微信传播公司名片</p>
       	        	</div>
				</div>
            </div>
        </section>
        <section class="function">
            <div class="desc" style="padding-top: 18px;">
				<h3>微官网</h3>
				<p class="medium">公司介绍、公司业务、公司动态、成功案例、产品中心、新浪微博、联系我们、团队介绍、加入我们......</p>
				<h3>导航公司位置</h3>
				<p class="medium">分享自己的位置，导航到最近的店面。步行、公交、驾车三种导航方式，让客户快速找到您的公司</p>
				<h3>一键拨号</h3>
				<p class="medium">在微信公众号中一键拨打客服电话</p>
				<h3>生成自定义菜单</h3>
				<p class="medium">快速选择重要的页面生成微信自定义菜单</p>
			</div>
            <div class="photo">
                <img src="{{ STATIC_URL }}img/part2_largepic.png"/>
            </div>
            <div class="sketch-list">
            	<div class="sketch-list-inner">
                	<div class="sketch">
                   		<p class="pic"><img src="{{ STATIC_URL }}img/part2_sketchfindme.png"/></p>
                    	<p class="title">导航公司位置</p>
                	</div>
                	<div class="sketch">
                    	<p class="pic"><img src="{{ STATIC_URL }}img/part2_sketchphonecall.png"/></p>
                    	<p class="title">一键拨号</p>
                	</div>
                	<div class="sketch">
                    	<p class="pic"><img src="{{ STATIC_URL }}img/part2_sketchmenu.png"/></p>
                    	<p class="title">生成自定义菜单</p>
                	</div>
            	</div>
			</div>
        </section>
        <section class="function">
            <div class="desc" style="padding-bottom: 20px">
				<p>活动必备互动工具</p>
				<div class="row-fluid">
				<div class="span4 feature">实时更新滚动</div>
				<div class="span4 feature">自定义背景图片</div>
				<div class="span4 feature">图片、文字、表情皆可发</div>
				</div>
			</div>
            <div class="photo">
                <img src="{{ STATIC_URL }}img/part3_largepic.png"/>
            </div>
            <div class="sketch-list">
            	<div class="sketch-list-inner">
                	<div class="sketch">
                    	<p class="pic"><img src="{{ STATIC_URL }}img/part3_sketchmeeting.png"/></p>
                    	<p class="title">会议现场</p>
                	</div>
                	<div class="sketch">
                    	<p class="pic"><img src="{{ STATIC_URL }}img/part3_sketchwedding.png"/></p>
                    	<p class="title">婚礼现场</p>
                	</div>
                	<div class="sketch">
                    	<p class="pic"><img src="{{ STATIC_URL }}img/part3_sketchactivity.png"/></p>
                    	<p class="title">活动现场</p>
                	</div>
            	</div>
			</div>
        </section>
        <section class="cases">
			<p>成功案例</p>
			<article class="case">
				<p>
					<a href="http://jiaoyin.cm" target="_blank">
						<img src="{{ STATIC_URL }}img/case_lmjy.png"/>
					</a>
				</p>
				<p>行业：互联网</p>
				<p>厘米脚印</p>
			</article>
		</section>
        <section class="contact">
				<a href="tel:400-014-7588" class="phone-number">
				    <i class="phone"></i>
                </a>
				<a href="tel:400-014-7588" class="phone-number">
                    400-014-7588
                </a>
				&nbsp;&nbsp;
				<i class="mail"></i>
				kzg@jiaoyin.cm
		</section>
    </div>
    <div class="footer">
        <p>版权所有 ©2013 北京厘米脚印科技有限公司</p>
    </div>

	<script type="text/javascript">
	$(function() {
		var width = $(".sketch-list").width();
		if (width <= 340) {
			$(".sketch").css("width", (width / 1.2) + 'px');
		} else if (width <= 480) {
			$(".sketch").css("width", (width * 2 / 3) + 'px');
		} else if(width <= 768) {
			$(".sketch").css("width", (width * 0.4) + 'px');
		}
	});
	</script>
</body>
</html>
