<div class="btn-group">
    <a id="edit_join_item_button" class="btn" onclick="showDialog('{{ record.id }}', '{{ record.publish }}', '{{ record.job_title }}', '{{ record.number }}', '{{ record.content1 }}', '{{ record.content2 }}', '{{ record.content3 }}', '{{ record.content4 }}', '{{ record.require1 }}', '{{ record.require2 }}', '{{ record.require3 }}', '{{ record.require4 }}')"><i class="icon-edit"></i></a>
    <a data-toggle="modal" onclick="deleteJoinItem({{ record.id }}, '{{ record.title }}')" class="btn btn-danger btn-del"><i class="icon-trash"></i></a>
</div>
