{% extends "framework.html" %}
{% load django_select2_tags %}

{% block title %}自定义菜单{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" href="{{ STATIC_URL }}css/menu.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.sortable.custom.min.css" />
{% import_django_select2_css %}
{% endblock %}

{% block js %}
{% import_django_select2_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.sortable.custom.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-modal-lockable.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/menu.js"></script>
{% endblock %}

{% block document_ready %}
{{ block.super }}

{% endblock %}

{% block app %}
<div class="alert alert-info">
    <h4>设置说明：</h4>
    <ul style="margin-top:8px;">
        <li>菜单项个数必须为2~3个</li>
        <li>菜单项按照下面列表从上到下顺序展示</li>
    </ul>
</div>
<div style="margin-bottom:16px;">
    <a type="button" class="btn btn-default btn-primary" data-toggle='modal' role="button" href="#add_edit_menu"><i class="icon-plus icon-white"></i>新增菜单项</a>
</div>

<div class="navbar" style="margin-bottom:0;">
    <div class="navbar-inner">
        <p class="navbar-text">菜单项</p>
    </div>
</div>
{% load render_table from django_tables2 %}
{% render_table menu_info "django_tables2/table.html" %}

<div style="margin-top:16px;">
    <a id="generate_menu" type="button" class="btn btn-default btn-success" href="javascript:void(0)" onclick="generateMenu()" data-loading-text="生成中..."><i class="icon-play icon-white"></i>生成菜单</a>
</div>

<div id="add_edit_menu" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add_edit_menu_header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="add_edit_menu_header">新增/编辑菜单项</h3>
    </div>
    <div class="modal-body">
        <form id="add_edit_menu_form" class="form-horizontal" action="" method="post" enctype="multipart/form-data"> {% csrf_token %}
            <div class="control-group" id="name">
                <label class="control-label" for="name"><span style="color:red;">*</span>菜单项名称</label>
                <div class="controls">
                    {{ form.name }}
                </div>
            </div>
            <div class="control-group" id="page">
                <label class="control-label" for="page"><span style="color:red;">*</span>显示页面</label>
                <div class="controls">
                    <input type="text" name="pages" id="pages">
                </div>
            </div>
            {{ form.id }}
            <div class="control-group">
                <div class="controls">
                    <div class="pages">
                    {% for p in pages %}
                        {% if p.enable %}
                        <button class='btn btn-link' id="page_{{ p.pk }}" data-pageid="{{ p.pk }}">{{ p.tab_name }}</button>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </form>
            </div>
    <div class="modal-footer">
        <button id="add_edit_menu_save" class="btn btn-primary" data-loading-text="保存...">保存</button>
        <button id="add_edit_menu_cancel" class="btn" data-dismiss="modal" aria-hidden="true" data-loading-text="取消">取消</button>
    </div>
</div>
<div id="delete_menu" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delete_menu_header" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 id="delete_menu">删除菜单项</h3>
    </div>
    <div class="modal-body">
        <span>确认删除 <strong id="menu_name"></strong>?</span>
    </div>
    <div class="modal-footer">
        <a id="delete_menu_ok" href="#" class="btn btn-danger btn-del">删除</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>
{% endblock %}
