{% extends "framework.html" %}

{% block app %}
<script type="text/javascript">

</script>
<div class="btn-group" style="margin-bottom:10px;">
    <a class="btn dropdown-toggle btn-primary" data-toggle="dropdown" href="#">
        <i class="icon-plus icon-white"></i>
    新建页面
    <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="/content_page/add">内容页面</a></li>
        <li><a href="/link_page/add">链接页面</a></li>
    </ul>
</div>
<div>
    <ul class="nav nav-tabs" style="margin-bottom:10px">
    {% for t in tabs %}
        {% if forloop.counter0 == active_tab_id %}
        <li class='active'><a href="#">{{ t.0.tab_name }}</a></li>
        {% else %}
        <li><a href="/settings/{{ forloop.counter0 }}">{{ t.0.tab_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    <form action="/save/{{page.pk}}/" method="post" enctype="multipart/form-data"> {% csrf_token %}
        {% include page.template_name with form=f only %}
        <div class="form-bottom-buttons text-right">
            <button class="btn btn-primary" id="tab-save">保存</button>
        </div>
    </form>
</div>
<script>
$('#tab-save').click(function() {
    $(this).closest('form').submit();
});
</script>
{% endblock %}
