{% extends "framework.html" %}

{% block app %}
<script type="text/javascript">
$(document).ready(function() {
$('#backend_intro_messagecover').popover({
    title: '消息封面帮助',
    html: true,
    placement: 'top',
    trigger: 'hover',
    content: '<img src="{{ STATIC_URL }}/img/backend_intro_messagecover.png"/>',
    offset: '300',
    });
$('#backend_intro_messagecontent').popover({
    title: '消息内容帮助',
    html: true,
    placement: 'top',
    trigger: 'hover',
    content: '<img src="{{ STATIC_URL }}/img/backend_intro_messagecontent.png"/>',
    offset: '300',
    });
$('#icon_help').popover({
    title: '首页图标帮助',
    html: true,
    placement: 'left',
    trigger: 'hover',
    content: '<img src="{{ STATIC_URL }}/img/backend_intro_icon.png"/>',
    });
});
function backToDefaultIcon(icon_url) {
    $("input[name='icon']").val({{ STATIC_URL }}+icon_url);
};

</script>
<style type="text/css">
.leftbutton {
    float:left;
}
</style>
<div class="btn-group" style="margin-bottom:10px;">
    <button class="btn btn-primary"><i class="icon-plus icon-white"></i>新增页面</button>
    <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown">
        <span class="caret"></span>
    </button>

    <ul class="dropdown-menu">
        <li><a href="/content_page/add" target="_blank">内容页面</a></li>
        <li><a href="/link_page/add" target="_blank">链接页面</a></li>
    </ul>
</div>
<div>
    <ul class="nav nav-tabs" style="margin-bottom:10px">
    {% for t in tabs %}
        {% if forloop.counter0 == active_tab_id %}
        <li class='active'><a href="#">{{ t.0.tab_name }}</a></li>
        {% else %}
        <li><a href="/settings/{{ forloop.counter0 }}">{{ t.0.tab_name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    <form id='page_form' action="/save/{{page.pk}}/" method="post" enctype="multipart/form-data"> {% csrf_token %}
        {% include page.template_name with form=f only %}
        <div class="form-bottom-buttons text-right">
            <button class="btn" id="tab-preview">预览</button>
            {% if page.template_name == "content_page.html" or page.template_name == "link_page.html" %}
            <a href="#delete_page" class="btn btn-danger" data-toggle="modal">删除</a>
            {% endif %}
            <button class="btn btn-primary" id="tab-save">保存</button>
        </div>
    </form>
</div>

<div id="delete_page" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>删除页面</h3>
    </div>
    <div class="modal-body">
        <span>确认删除页面 <strong>{{ page.tab_name }}</strong>?</span>
    </div>
    <div class="modal-footer">
        <a href="/delete/{{ page.pk }}" class="btn btn-danger">删除</a>
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
    </div>
</div>

<script>
$('#tab-save').click(function() {
    $("#page_form").attr('action', "/save/{{page.pk}}");
    $("#page_form").attr('target', "_self");
    $(this).closest('form').submit();
});
start_preview_history_length = 0;
function preview_back() {
    if (iframe_preview.history.length > start_preview_history_length) {
        //can't not solve all problems, we can't get the index of current page in history
        iframe_preview.history.back();
    }
    return false;
}
$('#tab-preview').click(function() {
    bootbox.dialog("<iframe style='margin-left:auto margin-right:auto' id='iframe_preview' scrolling='no' name='iframe_preview' width='350' height='640'></iframe>", [{'label':'后退','class':'leftbutton', 'callback':preview_back}, {'label':'关闭','callback':function(){}}],{header:"预览"});
    $("#page_form").attr('action', "/preview/page/{{page.pk}}");
    $("#page_form").attr('target', "iframe_preview");

    $("#page_form").submit();
    $('.bootbox').css('width', '398px');
    $('.modal').css('margin-left', '-200px');
    $('.modal-body').css('overflow-x', 'hidden');
    $('.modal-body').css('height', '660px');
    start_preview_history_length = iframe_preview.history.length;
});
</script>
{% endblock %}
