{% extends "base.html" %}

{% block title %}Welcome to Rocket Plan{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/welcome.js"></script>
{% endblock %}

{% block css %}
<style type="text/css">
body {
	background-color:#f4f4f4;
}
</style>
{% endblock %}

{% block document_ready %}
$(".carousel").carousel();
$('#login').click(function() {
	if (!$(this).hasClass("disabled")) {
		login();
	}
});
$('#password').keydown(function(e) {
	if (e.keyCode == 13) {
		if (!$('#login').hasClass("disabled")) {
			login();
		}
	}
});
{% endblock %}

{% block content %}
<div>
	<div id="carousel" class="carousel slide" style="width:100%;margin-bottom:14px;">
		<ol class="carousel-indicators">
			<li data-target="#carousel" data-slide-to="0" class="active"></li>
			<li data-target="#carousel" data-slide-to="1"></li>
		</ol>
		<!-- Carousel items -->
		<div class="carousel-inner">
			<div class="active item">
 				<img src="{{ STATIC_URL }}img/slide1.png" alt="" style="width:100%;"/>
			</div>
			<div class="item">
				<img src="{{ STATIC_URL }}img/slide2.png" alt="" style="width:100%;"/>
			</div>
		</div>
  		<!-- Carousel nav -->
		<a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>
	</div>

	<form action="" method="post" enctype="multipart/form-data" style="position:absolute;width:978px;margin-left:-489px;left:50%;">
		<div class="controls controls-row" style="padding-left:20px;">
			<input id="username" name="username" type="text" class="span4" placeholder="用户名" style="height:34px;font-size:20px;">
			<input id="password" name="password" type="password" class="span4" placeholder="密码" style="height:34px;font-size:20px;">
			<button id="login" type="button" class="btn btn-primary btn-large span2" data-loading-text="登录中...">登录</button>
			<a href="/register" target="_blank" role="button" class="btn btn-large" style="width:100px;margin-left:20px;">注册</a>
		</div>
	</form>
</div>
{% endblock %}